
body {
    font-size: 20px;
    background-color: aqua;
}

.card {
    width: 600px;
    background-color: white;
    padding: 25px;
    margin: 15px auto;
    border-radius: 20px;
}

.header {
    position: relative;
    width: 100%;
}

.header .status {
    position: absolute;
    top: 2px;
    right: 30px;
    font-weight: bold;
    font-size: 15px;
    color: #b76c01;
    background-color: #ffe2b3;
    padding: 10px;
    border-radius: 20px;
}

.progress-container {
    width: 100%;
    background-color: #eeeeee;
    border-radius: 10px;
}

.progress-bar {
    width: 65%;
    background-color: greenyellow;
    height: 10px;
    border-radius: 10px;
}