.card {
    width: 360px;
    border: 1px solid;
    border-radius: 20px;
    margin: 50px auto;
    font-family: cursive;
}

.header {
    background-color: aqua;
    border-radius: 20px 20px 0 0;
    height: 60px;
    position: relative;
}

.header h2 {
    margin: 0;
    padding:15px;
    text-align: center;
}

.header .hot {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 50px;
    padding: 6px;
    background-color: red;
    border-radius: 20px;
    text-align: center;
    font-weight: 900;
    color: white;
}

.content {
    padding: 20px;
    font-size: 18px;
}

.content p {
    margin-top: 0px;
    padding: 10px;
    border-bottom: 1px solid;
    border-color: aliceblue;
}

.green-text {
    color: greenyellow;
}

.btn {
    margin: 0;
    padding:20px;
    text-align: center;
}

.btn button {
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: aqua;
}