* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background: linear-gradient(90deg, #0d6efd, #0b5ed7);
    color: white;
    position: sticky;
    z-index: 1000;
    top: 0;
    padding: 20px;
}

.body {
    background-color: #f4f7fc;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
    font-size: 32px;
}

.logo {
    font-size: 25.6px;
    font-weight: bold;
}

.search-bar input[type="search"] {
    background: transparent;
    border: none;
    color: white;
    flex: 1;
    outline: none;
}

.search-bar {
    flex: 1;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
}

.nav a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

main {
    max-width: 1200px;
    padding: 32px;
    margin: 0 auto;
    transition: margin-left 0.3s ease;
}

.section {
    background-color: white;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 180px;
    height: 10px;
    background: #e9ecef;
    border-radius: 5px;
    overflow: hidden;
}

.progress-fill {
    width: 68%;
    height: 100%;
    background-color: #0d6efd;
}

.section-1-header {
    font-size: 24px;
    margin: 24px 0 16px;
    color: #0d6efd;
}
.card-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card {
    width: 400px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card-list > *{
    flex: 1 1 280px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-body {
    padding: 20px;
}

.card-body p {
    color: #666;
    font-size: 15.2px;
}

.btn {
    display: block;
    text-align: center;
    padding: 11.2px;
    margin-top: 12.8px;
    background-color: #0d6efd;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    font-weight: 800;
}

@media (max-width: 1024px) {
    .card-list {
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .search-bar,
    .nav {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .section {
        flex-direction: column;
        text-align: center;
    }
}

