* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff7ed;
    line-height: 1.3;
}

li {
    list-style: none;
}

.header {
    background-color: #fde68a;
    text-align: center;
    padding: 50px;
    color: #78350f;
}

.header h1 {
    margin-bottom: 10px;
}

.header p {
    font-size: 18px;
    color: #000;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu {
    text-align: center;
    padding: 15px;
    background-color: #fed7aa;
}

.menu a {
    margin: 20px;
    font-size: 18px;
    color: #7c2d12;
    font-weight: 800;
    transition: 0.25s;
}

.menu a:hover {
    padding: 6px 10px;
    background-color: #c2410c;
    border-radius: 10px;
    color: #fff;
}

.banner,
.banner-about {
    position: relative;
    height: 420px;
}

.banner img,
.banner-about img {
    width: 100%;
    height: 420px;
    object-fit: cover;
}

.text {
    position: absolute;
    bottom: 40px;
    right: 40px;
    border-radius: 10px;
    border: 1px solid transparent;
    width: 350px;
    padding: 15px;
    background-color: #fff;
}

.text-about {
    position: absolute;
    bottom: 40px;
    left: 40px;
    border-radius: 10px;
    border: 1px solid transparent;
    width: 350px;
    padding: 15px;
    background-color: #fff;
}

.text h2 {
    margin: 5px 0;
    color: #3f2a1d;
    font-weight: 800;
}

.text p {
    line-height: 1.6;
}

.section {
    width: 1000px;
    text-align: center;
    padding: 15px; 
    margin: 0px auto;
}   

.section h2 {
    margin: 20px 0;
    font-size: 28px;
    color: #c2410c;
}

.section p {
    font-size: 18px;
}

.card-doctor img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover; 
}

.card-doctor h3 {
    color: #78350f;
    font-size: 18px;
    margin-bottom: 6px;
}

.card-doctor p {
    font-size: 15px;
    color: #92400e;
}

.card-doctor span {
    display: block;
    font-size: 14px;
    color: #555;
    margin-top: 8px;
}



.card-list {
    padding: 15px;
    width: 1100px;
}

.card,
.card-doctor {
    display: inline-block;
    width: 300px;
    margin: 0 15px;
    vertical-align: top;
    border: 1px solid transparent;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    transition: transform 0.25s;
}

.card h3 {
    margin-bottom: 10px;
    color: #c2410c;
}

.card p {
    color: #ae400e;
    font-weight: 500;
}

.card:hover,
.card-doctor:hover {
    transform: translateY(-10px);
    background-color: #fffbeb;
}

.trust ul {
    list-style: none;
}

.trust li {
    margin-bottom: 10px;
}

.about-list li {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer {
    padding: 15px;
    text-align: center;
    background-color: #78350f;
    color: #fff;
    font-size: 18px;
}


