* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    min-width: 450px;
    padding: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

h2 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 32px
}

.desc {
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 6px;
}

.form-group input {
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.row a {
    text-decoration: none;
}

.btn {
    text-align: center;
    margin-bottom: 5px;
}

.btn button {
    width: 100%;
    padding: 10px 0;
    border: none;
    background-color: #0d6efd;
    color: #fff;
    border-radius: 10px;
}

.login-text {
    text-align: center;
}

