* {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.4;

}
.header {
    font-size: 30px;
    text-align: center;
    color: #1e90ff;
    font-weight:900;
}
.infor {
    text-align: center;
}

.body {
    background-color: #f4f4f9;
}

.p1 {
    text-decoration: line-through underline;
}

.p2 {
    font-weight: 900;
}

.p4 {
    letter-spacing: 2px;
}