body{
    width: 400px;
    margin: 50px auto;
    text-align: center;
}
h1 {
    color: #1e90ff;
}
label {
    display: block;
    margin-bottom: 5px;
    font-size: 17px;
}
input, textarea {
    width: 200px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #1e90ff;
}

button {
    display: block;
    margin: auto;
    background-color: #00bfff;
    color: white;
}
