* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.register-container {
    width: 650px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    padding: 30px;
    border-radius: 10px;
}

.register-container h2 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 32px;
}

.desc {
    text-align: center;
    margin-bottom: 15px;
}

.row {
    display: flex;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input {
    padding: 8px 20px;
    border-radius: 8px;
    border: 1px solid;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #0d6efd;
    margin-bottom: 10px;
}

.login-text {
    text-align: center;
}

.login-text a {
    text-decoration: none;
}