* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 100px auto;
    display: flex;
    justify-content: center;
}

.food-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 700px;
    gap: 20px;
    background-color: #f4f4f4;
}

.food img {
    width: 80px;
    border-radius: 10px;
}


.food {
    width: 150px;
    text-align: center;
}