.banner {
    width: 700px;
    border: 1px solid;
    text-align: center;
}

.banner h1 {
    margin: 0;
    padding: 25px 0;
    background-color: #1ef0f5;
}

.banner p {
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    font-style: italic;
}