* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 100px auto;
    max-width: 900px;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px 30px;
    background-color: #f4f4f4;
}


.menu img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid;
    margin-bottom: 10px;
}

.food {
    text-align: center;
    width: 250px;
}