* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 50px auto;
}

.header {
    text-align: center;
}

.badge {
    display: inline-block;
    color: #6366f1;
    font-weight: 800;
    background-color: #eaebf9;
    padding: 4px 6px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.title {
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitle {
    opacity: 0.7;
}

section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
    max-width: 1350px;
    margin: 18px auto;
}

.card {
    flex: 1;
    max-width: 300px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
    border-radius: 10px;
    transition: all 0.25s ease;
}


.card:hover {
    transform: translateY(-3px) scale(1.05);
}

.card:hover button {
    background-color: #0d6efd;
    color: #fff;
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid;
}

.title-card {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.price {
    font-size: 32px;
    color: #6366f1;
    font-weight: 800;
}

.unit {
    font-size: 18px;
    color: rgba(223, 223, 223,0.9);
    font-weight: bolder;
}

.card-body {
    margin-top: 20px;
    line-height: 1.6;
    font-size: 18px;
}

.btn {
    margin-top: 20px;
    text-align: center;
}

button {
    width: 100%;
    padding: 5px 0;
    border: 1px solid #6366f1;
    border-radius: 10px;
    color: #6366f1;
    font-size: 18px;
    background-color: white;
}

@media (max-width: 768px) {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
}