* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: #fff8f0;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    padding: 20px;
}

.logo {
    font-size: 35.2px;
    color: #E76F51;
    font-weight: 300;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.nav-list li {
    list-style: none;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.btn-primary{
    background-color: #E76F51;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;

}

.banner-section  {
    height: 960px;
    background-image: url("Section.png");
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap
}

.banner-content {
    color: #ffffff;
    max-width: 621px;
    text-align: center;
}

.banner-header {
    font-size: 64px;
    margin-bottom: 20px;
}

.banner-text {
    font-size: 22.4px;
    margin-bottom: 30px;
}

.btn-second {
    background-color: #E76F51;
    color: #ffffff;
    padding: 20px 40px;
    border: none;
    border-radius: 25px;
    font-size: 18px; 
}

.section-header {
    display: flex;
    justify-content: center;
    font-size: 48px;
    padding: 20px;
    margin-bottom: 20px;
    color: #E76F51;
}
.special-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.special-food {
    width: 320px;
    background-color: #ffffff;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.special-food img {
    border-radius: 18px 18px 0 0;
}

.food-text {
    padding: 30px;
}

.food-text h3 {
    font-size: 25.6px;
    margin-bottom: 15px;
}

.section {
    max-width: 1200px;
    margin: 10px auto;
}

.price {
    font-size: 24px;
    color: #E76F51;
    font-weight: 700;
    margin-bottom: 15px;
}

.text {
    font-size: 16px;
}

.food-menu {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.food {
    width: 280px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px 10px;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.food-name {
    font-size: 17.6px;
}

.food-price {
    color: #E76F51;
    font-weight: 600;
}
.footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: #3C2F2F;
}

.footer-container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.footer-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 30px;
    
}

.footer-top h4 {
    font-size: 24px;
    color: #E76F51;
    margin-bottom: 10px;
}

.footer p {
    color: #ffffff;
}

.footer-end {
    padding: 40px;

}