* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f7fb;
    padding: 40px;
}

.course-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.course-card {
    width: 320px;
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.course-card:hover {
    transform: translateY(-6px);
}

.course-img {
    position: relative;
}

.course-img img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.badge {
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    color: #fff;
}

.studying { background: #3b82f6; }
.done { background: #22c55e; }
.new { background: #f59e0b; }

.course-content {
    padding: 18px;
}

.category {
    color: #6366f1;
    font-size: 13px;
}

.course-content h3 {
    font-size: 16px;
    margin: 6px 0;
}

.teacher {
    font-size: 13px;
    color: #6b7280;
    margin-bottom: 12px;
}

.progress {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 6px;
}

.progress-bar {
    height: 6px;
    background: #e5e7eb;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 8px;
}

.progress-bar div {
    height: 100%;
    background: #6366f1;
}

.lesson,
.info {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #6b7280;
    margin-bottom: 12px;
}

.complete-date {
    font-size: 13px;
    color: #22c55e;
    margin-bottom: 12px;
}

.price {
    margin-bottom: 14px;
}

.current {
    color: #4f46e5;
    font-weight: bold;
}

.old {
    margin-left: 8px;
    color: #9ca3af;
    text-decoration: line-through;
    font-size: 13px;
}

.btn {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.primary {
    background: #6366f1;
    color: #fff;
}

.outline {
    background: #fff;
    color: #6366f1;
    border: 1px solid #6366f1;
}


@media (max-width: 768px) {
    .course-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .course-card {
        width: 100%;
    }
}